{
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^(@|.)/(.*)(?<!.s?css)$",
    ".s?css$"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
